## About me
<p>
As a PhD student at Karolinska Institutet in the Department of Physiology and Pharmacology, my research journey, which began in August 2019, is dedicated to unraveling the complexities of molecular pain. 
Specializing in neuroimmunology and innate immunity, my work is particularly focused on chronic pain, a field that merges my academic interests and research pursuits.
</p>

<p>
Currently based in the Biomedicum at Karolinska Institutet, my research centers on macrophages in the dorsal root ganglia and their role in chronic pain conditions.
Supported by the Marie Skłodowska-Curie Innovative Network Training program under the TOBeATPAIN project, my goal is to shed light on pain mechanisms and contribute to the development of new therapeutic strategies.
My tenure as a PhD student with Kancera AB has also been instrumental in enhancing my expertise in pharmaceutical research, further enriching my professional and academic journey in the field.
</p>
