## About me
<p>
As a PhD student at Karolinska Institutet in the Department of Physiology and Pharmacology, my focus lies in molecular pain research. 
My journey at the institute began in August 2019, and since then, I have been deeply involved in exploring the complexities of neuroimmunology and innate immunity, especially in the context of chronic pain. 
This specialization is a cornerstone of my academic and research pursuits.
</p>

<p>
My research in the Svensson lab at the Center for Molecular Medicine primarily revolves around the study of macrophages in the dorsal root ganglia and their significance in chronic pain conditions. 
Supported by the Marie Skłodowska-Curie Innovative Network Training program under the TOBeATPAIN project, my work aims to uncover new insights into pain mechanisms, with a vision to advance therapeutic approaches in this vital area of healthcare. 
Additionally, my experience as a PhD student with Kancera AB has enriched my skills and understanding in pharmaceutical research, further contributing to my professional development in the field.
</p>
